:root {
  --shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
  --primary: #1f3650;
  --secondary: #15a4fa;
  --detail: #c77544;
  --text: #809dc0;
  --border: 0.25rem;
  --font: 'Press Start 2P', cursive;
}

body {
  text-align: center;
  padding: 10px;
  margin: 3em;
  font-family: var(--font);
  color: var(--text);
  text-shadow: 0 5px 70px rgba(0, 0, 0, 0.3), 0 15px 20px rgba(0, 0, 0, 0.22);
  background: var(--primary);
}

h1 {
  color: #333;
  font-size: 4em;
  background: var(--secondary);
  padding: 0.65em;
  border-radius: var(--border);
  margin-bottom: 0.65em;
  border: solid 3px var(--detail);
}

h2 {
  margin: 1em 0 0.25em;
}

h2:first-of-type {
  margin: 0.7em;
}

table,
tr,
td {
  border: 2px solid #333;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  box-shadow: var(--shadow);
  background: var(--text);
}

tr {
  height: 50px;
}

td {
  width: 50px;
}

input[type='number'] {
  border-radius: var(--border);
  margin: 0.7em;
  text-align: center;
  outline: none;
}

input[type='number']:focus {
  border-color: var(--detail);
  padding: 0.2em;
}

input[type='submit'] {
  margin: 1em 0 1em 0;
  width: 12%;
}

button {
  margin: 2px;
  font-family: var(--font);
}

.btn {
  color: #333;
  background: var(--secondary);
  font-family: var(--font);
  padding: 0.45em;
  box-shadow: var(--shadow);
  border-radius: var(--border);
  outline-color: var(--detail);
  border: solid 2px var(--detail);
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.fa {
  margin: 0.15em;
  color: var(--detail);
}

.fa:hover {
  transform: scale(1.2);
}
